/* ===============================================
    VARIABLES 
==================================================*/
:root{
    /* FONTS SIZE */
    --size-xxs: 1.2rem;
    --size-xs: 1.5rem;
    --font-sm: 1.6rem;
    --font-md: 2.5rem;
    --size-lg: 3rem;
    --size-xl: 4rem;
    --size-xxl: 5rem;

    /* COLORS */
    --color-background:#E5E5E5;
    --color-font: #2B9990;
    --color-layer: #AD4333;
    --color-sections: #F9F9FB;
    --color-others: #7E836C;
}

/* ===============================================
    RESET CSS 
==================================================*/
*, ::before, ::after{
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    background-color: var(--color-background);
    color: var(--color-font);
    font-size: 62.5%;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: var(--font-sm);
	line-height: 1; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ===============================================
    BASE CSS 
==================================================*/
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    font-size: var(--font-md);
    letter-spacing: .1rem;
    text-transform: capitalize;
}
header, nav, main, section, article, 
aside, figure, footer, div{
    width: 100%;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
button{
    border: none;
    cursor: pointer;
    font-size: var(--size-xxs);
    font-weight: bold;
    letter-spacing: .1rem;
}
/* ===============================================
    CONTAINER
==================================================*/
.container{
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
}
/* ===============================================
    MOTHER BOXS
==================================================*/
.mainContent{}
.sectionContent{}
.articleContent{}
.footerContent{}
/* ===============================================
    ROWS & COLUMS
==================================================*/
/* ---------- container ---------- */
.row-container{
    display: grid;
    grid-template: 100% / 100%;
}
/* ---------- item container ---------- */
.col-container{}
/* ===============================================
    # HEADER - NAV
==================================================*/
/* ===============================================
    # BANNER - SLIDER
==================================================*/
.bannerContent{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.banner__slider{
    display: flex;
    width: 400%;
    height: 70vh;
    margin-left: -100%;
}
.banner__slider--content{
    outline: 1px solid red;
    width: 100%;
}
.banner__slider--content img{
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.slider-btn{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    /* font-size: var(--size-md); */
    position: absolute;
    top: 50%;
    height: 40px;
    transform: translateY(-50%);
    width: 40px;
    text-align: center;
}
.slider-btn:hover{
    background-color: var(--color-background);
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

/*  */
.banner__slider--info{
    display: block;
    position: absolute;
    top: 70%;
    height: 100%;
}
/* .banner__slider--content h3{}
.banner__slider--content p{}
.banner__slider--content button{} */

/* ===============================================
    # @MEDIAQUERIES
==================================================*/
/* ===============================================
    # @MEDIAQUERIES
==================================================*/
/* ===============================================
    @ MEDIAQUERIES
==================================================*/
@media screen and (min-width: 480px){}
@media screen and (min-width: 576px){}
@media screen and (min-width: 768px){}
@media screen and (min-width: 992px){}
@media screen and (min-width: 1024px){}
@media screen and (min-width: 1200px){}
@media screen and (min-width: 1400px){}











/*

COLORS:
#AD4333
#2B9990
#E5E5E5
#F9F9FB
#7E836C

*/
/*

FONT:
PT Sans
    -Regular 400
    -Regular 400 Italic
    -Bold 700
    
    font-family: 'PT Sans', sans-serif;

*/
